<p id="notice"><%= notice %></p>

<h1>User List</h1>

<table>
  <thead>
    <tr>
      <td>Username</td>
      <td>Name</td>
      <td>Phone</td>
      <td>Company Name</td>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |data| %>
      <tr>
        <td><%= data['username'] %></td>
        <td><%= data['name'] %></td>
        <td><%= data['phone'] %></td>
        <td><%= data['company']['name'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "logout", destroy_user_session_path, method: :delete  %>